*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/

# output dfas, graphs, etc
*.png
*.dot

# joosbox
joosc
*.zip

# reports
*.aux
*.fdb_latexmk
*.fls
*.out
*.pdf
*.toc
*.pyg
cs444.iml
